<ion-view view-title="Account">

<ion-nav-buttons side="left">
          <button ui-sref="tabs.orders" class="button button-icon button-clear ion-android-arrow-back"> Orders</button>
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>

</ion-nav-buttons>
        <ion-content>
          <div class="list">

  <div  ng-if="user.Name.length > 0" class="item item-text-wrap">
  	Name : {{user.Name}}
  </div>
  <div ng-if="user.Email.length > 0" class="item item-text-wrap">
  	Email : {{user.Email}}
  </div>
  <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Old Password</span>
          <input type="password" placeholder="" ng-model="form.old_password">
        </label>
        <label class="item item-input item-stacked-label item-icon-right">
          <span class="input-label">New Password</span>
          <input  type="password" placeholder="" ng-model="form.password" value="form.password">
        </label>
        <label class=" item item-input item-stacked-label item-icon-right">
          <span class="input-label">Confirm New Password</span>
          <input type="password" placeholder="" ng-model="form.confirm_password">
        </label>
        
  </div>
   <button style="width:60%; display:block; margin:0 auto;" class="button button-block button-positive" ng-click="changePass()">Save</button>
</div>
        </ion-content>
</ion-view>