<ion-view view-title="Create Account">
<ion-content>
<div class="list">
  <label class="item">Customer 2</label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>
<div class="padding">
        <button class="button button-block button-positive">Create Account</button>
      </div>
</ion-content>
</ion-view>