<ion-view view-title="Disclaimer">

<ion-nav-buttons side="left">
          <button ui-sref="tabs.orders" class="button button-icon button-clear ion-android-arrow-back">Orders</button>
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
</ion-nav-buttons>

        <ion-content>
          <div class="list card">

  <div class="item item-text-wrap">
    Use restricted to users authorized by the Crescent Steel & Allied Products.
  </div>
  <div class="item item-text-wrap">
    All information shared on this application is for MIS purposes only and does not make CSAPL liable to financial or contractual liablities.
  </div>
</div>
        </ion-content>
      </ion-view>