<ion-view view-title="Forgot Password" hide-nav-bar="true">


<div class="bar bar-header bar-positive"> 
<button ng-click="$ionicGoBack()" class="button button-icon ion-android-arrow-back"></button>
<img src="images/head-logo.png" height="31px">
  <h1 class="title" style="text-align:left; margin-left:95px;">Forgot Password</h1>
</div>


  <ion-content class="padding login-content" scroll="false">  
  <div class="padding" style="padding-top:50px;">
   
  </div>

  <style type="text/css">.icon.ion-eye{width: 45px !important; border:none !important; background: none !important; color:#D6D6D6; }
  .forgot{  color:#848181;};
  </style>


      <div class="list login-form">
        <label class="item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email Address" ng-model="data.email">
        </label>

      </div>
      <button class="button button-block button-positive" ng-click="forgot()">Submit</button>
      <p class="text-center">
              <span class="forgot" ui-sref="received-code">Received code already?</span>
      </p>
      <div class="bottom-image">
        <img src="images/login-bg.png">
      </div>
  </ion-content>
</ion-view>