<style type="text/css">
.home-content .item  {
	text-align: center;
}
.home-content .button-icon .icon::before, .home-content .button-icon.icon::before {
		font-size: 70px !important;
	}
</style>

<ion-view view-title="Home" hide-nav-bar="false">




 <ion-content scroll="false"  has-bouncing="false">

<div class="row">
  <div class="col">
	  <div class="card home-content padding">
		  <div class="item item-divider" ui-sref="tabs.users">
		    <a class="button button-icon icon ion-person"></a>
		  </div>
		  <div class="item item-text-wrap">
		    Users
		  </div>
		</div>
	</div>
  <div class="col">
  	<div class="card home-content padding">
		  <div class="item item-divider" ui-sref="tabs.customers">
		    <a class="button button-icon icon ion-person-stalker"></a>
		  </div>
		  <div class="item item-text-wrap">
		    Customers
		  </div>
		</div>
  </div>
</div>

<div class="row">

	<div class="col">
		<div class="card home-content padding">
		  <div class="item item-divider" ui-sref="tabs.orders">
		    <a class="button button-icon icon ion-document-text"></a>
		  </div>
		  <div class="item item-text-wrap">
		    Orders
		  </div>
		</div>
	</div>
	<div class="col">
		<div class="card home-content padding">
		  <div class="item item-divider" ui-sref="tabs.payments">
		    <a class="button button-icon icon ion-card"></a>
		  </div>
		  <div class="item item-text-wrap">
		    Payments
		  </div>
		</div>
	</div>

</div>

</ion-content>
</ion-view>