<ion-view title="Login" view-title="Login" hide-nav-bar="true">

<div class="bar bar-header bar-positive"> 
  
  <img src="images/head-logo.png" height="31px">
  <h1 class="title" style="text-align:left; margin-left:45px;">Login</h1>
</div>
  
  <ion-content class="login-content" scroll="false">


  
  <div class="padding" style="padding-top:50px;">
   
  </div>

  <style type="text/css">.icon.ion-eye{width: 45px !important; border:none !important; background: none !important; color:#D6D6D6; font-size: 2em; position: absolute; right: 0px; top:26px; height: 40px;}
  .forgot{  color:#848181;};
  </style>


      <div class="list login-form">
        <label class="item-input item-stacked-label">
          <span class="input-label">Email Address</span>
          <input type="email" placeholder="" ng-model="data.email" value="data.email">
        </label>
        <div style="position:relative">
        <label class="item-input item-stacked-label item-icon-right">
          <span class="input-label">Password</span>
          <input ng-show="!showPassword" type="password" placeholder="" ng-model="data.password" value="data.password">
          <input ng-show="showPassword" type="text" placeholder="" ng-model="data.password" value="data.password">
          
        </label>
        <button on-hold="displayPassword()" on-release="hidePassword()" class="icon ion-eye"></button>
        </div>
      </div>
      <button class="button button-block button-positive" ng-click="login()">Login</button>
      <p class="text-center">
              <span class="forgot" ui-sref="forgot({email: data.email})">Forgot password? <span class="icon ion-gear-a"></span></span>
      </p>
      
  </ion-content>
  <!-- <div class="bottom-image">
      </div> -->
</ion-view>
