<ion-view name="login-view"  hide-nav-bar="true">

<div class="bar bar-header bar-positive"> 
<button ng-click="$ionicGoBack()" class="button button-icon ion-android-arrow-back"></button>
<img src="images/head-logo.png" height="31px">
  <h1 class="title" style="text-align:left; margin-left:90px;">Forgot Password</h1>
</div>
  
  <ion-content class="padding login-content" scroll="false">
  <div class="padding" style="padding-top:50px;">
 
  </div>

  <style type="text/css">.icon.ion-eye{width: 45px !important; border:none !important; background: none !important; color:#D6D6D6; }
  .forgot{  color:#848181;};
  </style>


      <div class="list login-form">
        <p>Please check your email and enter the security code that you have received.</p>
        <label class="item-input item-floating-label">
          <span class="input-label">Code</span>
          <input type="text" placeholder="Code" ng-model="data.code">
        </label>

      </div>
      <button class="button button-block button-positive" ng-click="verify()">Submit</button>
      <p class="text-center">
              <span class="forgot" ui-sref="login">Login</span>
      </p>
      <div class="bottom-image">
        <img src="images/login-bg.png">
      </div>
  </ion-content>
</ion-view>