<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab  hidden="{{!(role =='admin' || role=='manager')}}" title="Customers"  href="#/tab/customers">
    <ion-nav-view name="customers-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="{{(role != 'admin')}}"  title="Manage Users"  href="#/tab/user-types">
    <ion-nav-view name="users-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab  title="Orders" href="#/tab/orders">
    <ion-nav-view name="orders-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Payments" href="#/tab/payments">
    <ion-nav-view name="payments-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="{{!(role == 'customer')}}"  title="Users"  href="#/tab/customer-users">
    <ion-nav-view name="customer-users-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" title="Pages" href="#/tab/pages">
    <ion-nav-view name="pages-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>