<ion-view view-title="Create Account">
<ion-content>
<div class="list">
  <label class="item">{{user.CUSTOMER_NAME}}</label>
</div>
<div class="list account-form">

  <label class=" item styled item-input item-stacked-label">
    <span class="input-label">Email *</span>
    <input type="text" placeholder="user@crescent.com" ng-model="user.Email">
  </label>
  <label class="item styled item-input item-stacked-label">
    <span class="input-label">Password * <span ng-if = "master.RefId">(Set New)</span></span>
    <input type="password" ng-model="user.Password">
  </label>

  <ion-toggle class="styled" ng-model="user.Active" toggle-class="toggle-calm">Active</ion-toggle>

</div>
<div class="padding">
        <button ng-click="handleAccount(user)" ng-if="master.RefId" class="button button-block button-positive">Update Account</button>
        <button ng-click="handleAccount(user)" ng-if="!master.RefId"  class="button button-block button-positive">Create Account</button>
      </div>
</ion-content>
</ion-view>