<ion-view view-title="Customer Admin">

<ion-nav-buttons side="right">
          
          <button id="searchButton" ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>
          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="userSearch" ng-model="search.CUSTOMER_NAME" type="search" placeholder="Search">
            </label>
           <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button> 
        </div>
</ion-nav-buttons>

        <ion-content>

        
          
          <ul class="list">
            <li class="item" ng-if="userService.users.length == '0'">No customer admin available</li>
            <li ui-sref="tabs.create-user({user: $index})" class="item item-text-wrap item-button-right" ng-repeat="user in userService.users | filter:search:strict | limitTo:listlength">{{user.CUSTOMER_NAME}}
            <p ng-if="user.RefId > 0">Last login: {{user.LastLogin}}</p>
            <p ng-if="user.RefId > 0"><span ng-if="user.Active == '1'">Active</span><span ng-if="user.Active == '0'">Inactive</span></p>
            <p ng-if="!user.RefId">No Account</p>
           </li>
					</ul>
          <input type="hidden" ng-model="search.CUSTOMER_NAME">
          <ion-infinite-scroll ng-if="listlength<=userService.users.length" 
                on-infinite="loadMore()" distance="3%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>