<ion-view view-title="CSAPL Users">

<ion-nav-buttons side="right">
          <button ui-sref="tabs.create-employee({user: {} })" class="button icon ion-android-person-add"></button>
</ion-nav-buttons>

        <ion-content>
          <ul class="list">
            <li class="item" ng-if="userService.employees.length == '0'">No users available</li>
            <li ui-sref="tabs.create-employee({user: $index})" class="item item-text-wrap item-button-right" ng-repeat="user in userService.employees | limitTo:listlength">{{user.Name}}
            <p>Last login: {{user.LastLogin}}</p>
            <p><span ng-if="user.Active == '1'">Active</span><span ng-if="user.Active == '0'">Inactive</span></p>
           </li>
					</ul>
          <ion-infinite-scroll ng-if="listlength<=userService.employees.length" 
                on-infinite="loadMore()" distance="3%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>