<ion-view view-title="Manage Users">
  <ion-content>
    <ul class="list">
      <li ui-sref="tabs.employees"  ng-if="role == 'admin'" class="item">CSAPL Users</li>
      <li ui-sref="tabs.customer-admins" ng-if="role == 'admin'" class="item">Customer Admin</li>
		</ul>
  </ion-content>
</ion-view>