<html ng-app="csapl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Admin</title>
    <script src="cordova.js"></script>
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services/auth.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/customer.js"></script>
    <script src="js/services/order.js"></script>
    <script src="js/services/payment.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/tabs.js"></script>
    <script src="js/controllers/user.js"></script>
    <script src="js/controllers/customer.js"></script>
    <script src="js/controllers/order.js"></script>
    <script src="js/controllers/payment.js"></script>
  </head>

  <body>

  <ion-nav-bar class="bar-header bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>
             

  <ion-side-menus enable-menu-with-back-views="true">
    <!-- Left menu -->
    <ion-side-menu side="left">
    </ion-side-menu>

    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view>

      </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="sideBarCtrl">
      <ion-header-bar class="bar-positive">
        <h1 class="title" ng-if="role != 'admin' && role != 'customer'"></h1>
        <h1 class="title" ng-if="role == 'admin'"></h1>
        <h1 class="title" ng-if="role == 'customer'"></h1>
      </ion-header-bar>
      <ion-view>
      <ion-content>
        <ion-list >
          <ion-item menu-close class="item-icon-right" ui-sref="tabs.account">
            My Account  <span class="icon ion-person"></span>
          </ion-item>
          <ion-item menu-close class="item-icon-right" ui-sref="tabs.desclaimer">
            Disclaimer <span class="icon ion-document-text"></span>
          </ion-item>
          <ion-item menu-close class="item-icon-right" ng-click="logout()">
            Logout <span class="icon ion-log-out"></span>
          </ion-item>
          <ion-item menu-close class="item-icon-right" ng-click="exitApp()">
            Exit <span class="icon ion-power"></span>
          </ion-item>
        </ion-list>
      </ion-content>
      </ion-view>
    </ion-side-menu>

  </ion-side-menus>

  </body>
</html>