<ion-view view-title="Customer List">

<ion-nav-buttons side="right">
          <button  ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>
          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="customerSearch" ng-model="search.CUSTOMER_NAME" type="search" placeholder="Search">
            </label>
         </div>
        <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button>
</ion-nav-buttons>


        <ion-content>
<style type="text/css">.item-divider {padding-left: 8px;} .ion-gear-a {font-size: 1.3em !important;}</style>
        
          <ul class="list">
            <li class="item" ng-if="customerService.customers.length == '0'">No customers available</li>
            <li ui-sref="tabs.customer({customer: {{customerService.customers.indexOf(customer)}}})" class="item item-text-wrap" ng-repeat="customer in customerService.customers | filter:search:strict | limitTo:listlength">{{customer.CUSTOMER_NAME}}
            </li></ul>
          <input type="hidden" ng-model="search.CUSTOMER_NAME">
          <ion-infinite-scroll ng-if="listlength<=customerService.customers.length" 
                on-infinite="loadMore()" distance="3%">
          </ion-infinite-scroll>
        </ion-content>
      </ion-view>