<ion-view view-title="{{customer.CUSTOMER_NAME}}">

  <ion-content>

    <ul class="list">
      <div class="item item-divider"><small class="positive sync-info italic">Synced : {{customer.synced}}</small></div>
      <li class="item">
          <div ng-if="(restriction != '1' && restriction != '3')" class="row row-center">
              <div class="col col-center"><button ui-sref="tabs.customer-orders({customer: customerIndex})" class="button button-clear button-dark">Current Orders:</button></div>
              <div class="col col-center text-right"><button ui-sref="tabs.customer-orders({customer: customerIndex})" class="button button-clear button-positive">{{customer.TotalOrders}}
                  </button></div>
              
          </div>
          <div ng-if="(restriction != '2' && restriction != '3')" class="row row-center">
              <div class="col col-center"><button ui-sref="tabs.customer-payments({customer: customerIndex})" class="button button-clear button-dark">Amount Due:</button></div>
              <div class="col col-center text-right"><button ui-sref="tabs.customer-payments({customer: customerIndex})" class="button button-clear button-positive">{{customer.TotalDue}}/-</button></div>
          </div>

          <div ng-if="(restriction == '1')" class="row row-center">
              <div class="col col-center">You are not authorized to view orders</div>
          </div>

          <div ng-if="(restriction == '2')" class="row row-center">
              <div class="col col-center">You are not authorized to view payments</div>
          </div>

          <div ng-if="(restriction == '3')" class="row row-center">
              <div class="col col-center">You are not authorized to view data</div>
          </div>

      </li>
    </ul>

  </ion-content>
</ion-view>