<ion-view view-title="Order List">
  <ion-nav-buttons side="right">
          
          <button  ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>
          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="customerOrderSearch" ng-model="search" type="search" placeholder="Search">
            </label>
           <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button> 
        </div>
</ion-nav-buttons>

  <ion-content>
  <input type="hidden" ng-model="search">
    <ul class="list">
      <li class="item item-text-wrap"><strong>{{customer.CUSTOMER_NAME}}</strong></li>
      <li class="item" ng-if="customerOrders.length == 0">No orders available</li>
      <li class="item compact" ng-if="customerOrders.length != 0">
        <div  class="row row-center positive">
          <div class="col col-center text-left">Order Number</div>
          <div class="col col-center text-right">Order Date</div>
        </div>
      </li>
      <li class="item item-text-wrap" ng-repeat="order in customerOrders | filter:search" ui-sref="tabs.customer-order({customer: customerIndex, order:customerOrders.indexOf(order)})" >
        
        <div class="row row-center">
          <div class="col col-center text-left">{{order.ORDERNO}}</div>
          <div class="col col-center text-right">{{order.REQ_DATE}}</div>
        </div>
        <div class="row row-center" ng-if="order.PO_DATE.length > 0">
          <div class="col col-center text-left">Order Type: {{order.PO_DATE}}</div>
        </div>
        <div class="row row-center">
        <div class="col">
          <small>{{order.ITEM}}</small>
        </div>
        </div>
        
        
      </li>
		</ul>
  </ion-content>
</ion-view>