<ion-view view-title="Payment Detail">
  <ion-content>

    <ul class="list">

      <li class="item"><strong>{{payment.CUSTOMER_NAME}}</strong></li>
      
      <li class="item item-text-wrap">

        <div class="row row-center" ng-if="payment.SALES_ORDER.length > 0 ">
          <div class="col col-center"> Order number:</div>
          <div class="col col-center positive">{{payment.SALES_ORDER}}</div>
        </div>

        <div class="row row-center" ng-if="payment.DESCRIPTION.length > 0">
          <div class="col col-center text-left">Item Description:</div>
          <div class="col col-center positive">{{payment.DESCRIPTION}}</div>
        </div>

        <div class="row row-center" ng-if="payment.INVOICE_TYPE.length > 0">
          <div class="col col-center">Invoice Type:</div>
          <div class="col col-center positive">{{payment.INVOICE_TYPE}}</div>
        </div>

        <div class="row row-center" ng-if="payment.TRX_NUMBER.length > 0">
          <div class="col col-center">Invoice Number:</div>
          <div class="col col-center positive">{{payment.TRX_NUMBER}}</div>
        </div>

        <div class="row row-center" ng-if="payment.COMM_INV.length > 0">
          <div class="col col-center">Commercial Invoice Number:</div>
          <div class="col col-center positive">{{payment.COMM_INV}}</div>
        </div>

        <div class="row row-center" ng-if="payment.TRX_DATE.length > 0">
          <div class="col col-center ">Invoice Date:</div>
          <div class="col col-center positive">{{payment.TRX_DATE}}</div>
        </div>

        <div class="row row-center" ng-if="payment.AMOUNT_DUE_ORIGINAL.length > 0">
            <div class="col col-center">Invoice Amount:</div>
            <div class="col col-center positive">{{payment.AMOUNT_DUE_ORIGINAL}}</div>
        </div>

        <div class="row row-center" ng-if="payment.AMOUNT_DUE_REMAINING.length > 0">
          <div class="col col-center">Balance Amount:</div>
          <div class="col col-center positive">{{payment.AMOUNT_DUE_REMAINING}}</div>
        </div>

         <div ng-if="payment.DAYS_PENDING.length > 0" class="row row-center">
          <div class="col col-center">Days Outstanding:</div>
          <div class="col col-center positive">{{payment.DAYS_PENDING}}</div>
        </div>

        <div class="row row-center" ng-if="payment.AMOUNT_APPLIED.length > 0">
          <div class="col col-center"> Amount Paid:</div>
          <div class="col col-center positive">{{payment.AMOUNT_APPLIED}}</div>
        </div>

        
      </li>
		</ul>
  </ion-content>
</ion-view>