<ion-view view-title="Payment List">

<ion-nav-buttons side="right">
          <button  ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>
          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="customerPaymentsSearch" ng-model="search" type="search" placeholder="Search">
            </label>
            <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button>
        </div>
</ion-nav-buttons>

        <ion-content>

        <input type="hidden" ng-model="search">

          <ul class="list">
             <li class="item"><strong>{{customer.CUSTOMER_NAME}}</strong></li>
            
              <li class="item" ng-if="customerPayments.length == 0">No payments available</li>

              <li class="item compact" ng-if="customerPayments.length != 0">
                <div  class="row row-center positive">
                  <div class="col col-center text-left">Invoice Number</div>
                  <div class="col col-center text-right">Invoice Date</div>
                </div>
              </li>

            <li ui-sref="tabs.customer-payment({customer: customerIndex, payment:customerPayments.indexOf(payment)})" class="item item-text-wrap" ng-repeat="payment in customerPayments | filter:search">
              
              <div class="row row-center">
                <div class="col col-center text-left">{{payment.TRX_NUMBER}}</div>
                <div class="col col-center text-right">{{payment.TRX_DATE}}</div>
              </div>
              <div class="row row-center" ng-if="payment.AMOUNT_DUE_REMAINING.length > 0">
              <div class="col col-center text-left">Balance Amount: {{payment.AMOUNT_DUE_REMAINING}}</div>
              </div>
              <div class="row row-center" ng-if="payment.DESCRIPTION.length > 0">
              <div class="col col-center text-left">{{payment.DESCRIPTION}}</div>
              </div>

             
            </li>

					</ul>
          
        </ion-content>
      </ion-view>