<ion-view view-title="Order Detail">
  <ion-content>

    <ul class="list">

      <li ng-if="!customer" class="item"><strong>{{order.CUSTOMER_NAME}}</strong></li>
      
      <li class="item item-text-wrap">
        <div class="row row-center">
          <div class="col col-center text-left">Order number:</div>
          <div class="col col-center positive">{{order.ORDERNO}}</div>
        </div>
        <div class="row row-center" ng-if="order.PO_NUM.length > 0">
          <div class="col col-center text-left">PO:</div>
          <div class="col col-center positive">{{order.PO_NUM}}</div>
        </div>
        <div class="row row-center" ng-if="order.PO_DATE.length > 0">
          <div class="col col-center text-left">Order Type:</div>
          <div class="col col-center positive">{{order.PO_DATE}}</div>
        </div>
        <div class="row row-center" ng-if="order.ITEM.length > 0">
          <div class="col col-center text-left">Item Description:</div>
          <div class="col col-center positive">{{order.ITEM}}</div>
        </div>
        <div class="row row-center" ng-if="order.REQ_DATE.length > 0">
          <div class="col col-center text-left">Order Date:</div>
          <div class="col col-center positive">{{order.REQ_DATE}}</div>
        </div>
        <div class="row row-center" ng-if="order.ORD_QTY.length > 0">
          <div class="col col-center text-left">Order Quantity:</div>
          <div class="col col-center positive">{{order.ORD_QTY}}</div>
        </div>
        <div class="row row-center" ng-if="order.UOM.length > 0">
          <div class="col col-center text-left">UOM:</div>
          <div class="col col-center positive">{{order.UOM}}</div>
        </div>
        <div class="row row-center" ng-if="order.SHIPPED_QTY.length > 0">
          <div class="col col-center text-left">Shipped Quantity:</div>
          <div class="col col-center positive">{{order.SHIPPED_QTY}}</div>
        </div>
        <div class="row row-center" ng-if="order.OUTSTANDING_QTY.length > 0">
          <div class="col col-center text-left">Remaining Quantity:</div>
          <div class="col col-center positive">{{order.OUTSTANDING_QTY}}</div>
        </div>
        <div class="row row-center" ng-if="order.SHIP_TODAY.length > 0">
          <div class="col col-center text-left">Shipped Today:</div>
          <div class="col col-center positive">{{order.SHIP_TODAY}}</div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>