<ion-view view-title="Orders List">

<ion-nav-buttons side="right">
          
          <button  ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>
          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="orderSearch" ng-model="search" type="search" placeholder="Search">
            </label>
           <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button> 
        </div>
</ion-nav-buttons>

        <ion-content>
        <div ng-if ="restriction == '1' || restriction == '3' ">
          <ul class="list">
            <li class="item item-text-wrap">You are not authorized to view orders</li>
          </ul>
        </div>
        <input type="hidden" ng-model="search">
      <div ng-if ="restriction != '1' && restriction != '3' ">
         <div ng-if="orderService.orders[0]" class="item item-divider item-text-wrap"><small class="sync-info" ng-if="user.Role == '2' || user.Role == '3'">{{orderService.orders[0].CUSTOMER_NAME}} - </small><small class="positive sync-info italic"><i>Synced : {{orderService.orders[0].synced}}</i></small></div>
        <div class="item item-text-wrap" style="padding-top:0px; padding-bottom:0px;" ng-if="orderService.orders[0].total_orders">
          <div class="row">
            <div class="col text-left positive">Current Orders:</div>
            <div class="col text-right">{{orderService.orders[0].total_orders}}</div>
            <span ng-init="hide_customer = true"></span>
          </div>
        </div>

        <ul class="list">
          <li class="item" ng-if="orderService.orders.length == 0">No orders available</li>
          <li class="item compact" ng-if="orderService.orders.length != 0">
            <div  class="row row-center positive">
              <div class="col col-center text-left">Order Number</div>
              <div class="col col-center text-right">Order Date</div>
            </div>
          </li>
          <li class="item item-text-wrap" ng-repeat="order in orderService.orders | filter:search | limitTo:listlength" ui-sref="tabs.order-detail({order: {{orderService.orders.indexOf(order)}}})" >
            <div ng-if="user.Role != '2' && user.Role != '3'" class="row" ng-hide="hide_customer">
              <div class="col">
                <small>{{order.CUSTOMER_NAME}}</small>
              </div>
            </div>
            <div class="row row-center">
              <div class="col col-center text-left">{{order.ORDERNO}}</div>
              <div class="col col-center text-right">{{order.REQ_DATE}}</div>
            </div>

            <div class="row row-center" ng-if="order.PO_DATE.length > 0">
              <div class="col col-center text-left">Order Type: {{order.PO_DATE}}</div>
              </div>

            <div class="row" ng-if="order.ITEM">
              <div class="col">
                <small >{{order.ITEM}}</small>
              </div>
            </div>
          </li>
        </ul>
          

          <ion-infinite-scroll ng-if="listlength<=orderService.orders.length" 
                on-infinite="loadMore()" distance="3%">
          </ion-infinite-scroll>

          <div>
          
        </ion-content>
      </ion-view>