<ion-view view-title="Payment List">

<ion-nav-buttons side="right">
          
          <button  ng-click="setFocus()" ng-if="!hasFocus" class="button button-icon ion-search animated"></button>

          <div ng-if="hasFocus" class="animated item-input-inset">
            <label class="item-input-wrapper animated">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input class="searchBox" ng-keyup="addValueToSearch()" id="paymentSearch" ng-model="search" type="search" placeholder="Search">
            </label>
            <button ng-if="hasFocus" ng-click="noFocus()" class="button button-clear animated">Cancel</button>
        </div>
</ion-nav-buttons>

        <ion-content>
        <div ng-if ="restriction == '2' || restriction == '3' ">
          <ul class="list">
            <li class="item item-text-wrap">You are not authorized to view payments</li>
          </ul>
        </div>
        <input type="hidden" ng-model="search">
        <div ng-if ="restriction != '2' && restriction != '3' ">
        <div ng-if="paymentService.payments[0]" class="item item-divider item-text-wrap"><small class="sync-info" ng-if="user.Role == '2' || user.Role == '3'">{{paymentService.payments[0].CUSTOMER_NAME}} - </small><small class="positive sync-info italic"><i>Synced : {{paymentService.payments[0].synced}}</i></small></div>
        <div class="item item-text-wrap" ng-if="paymentService.payments[0].amount_due">
          
          <div class="row">

            <div class="col text-left positive">Amount Due:</div>
            <div class="col text-right">{{paymentService.payments[0].amount_due}}</div>
            <span ng-init="hide_customer = true"></span>
          </div>
        </div>
          <ul class="list">
            <li class="item item-text-wrap" ng-if="paymentService.payments.length == '0'">No payments available</li>
            <li class="item item-text-wrap compact" ng-if="paymentService.payments.length != 0">
            <div  class="row row-center positive">
              <div class="col col-center text-left">Invoice Number</div>
              <div class="col col-center text-right">Invoice Date</div>
            </div>
          </li>
            <li class="item item-text-wrap" ng-repeat="payment in paymentService.payments | filter:search | limitTo:listlength" ui-sref="tabs.payment-detail({payment: {{paymentService.payments.indexOf(payment)}}})">
              
            <div class="row" ng-hide="hide_customer">
              <div class="col">
                <small ng-if="user.Role != '2' && user.Role != '3'" >{{payment.CUSTOMER_NAME}}</small>
              </div>
            </div>

              <div class="row row-center">

                <div class="col col-center text-left">{{payment.TRX_NUMBER}}</div>
                <div class="col col-center text-right">{{payment.TRX_DATE}}</div>
              </div>

              <div class="row row-center" ng-if="payment.AMOUNT_DUE_REMAINING.length > 0">
              <div class="col col-center text-left">Balance Amount: {{payment.AMOUNT_DUE_REMAINING}}</div>
              </div>

              <div class="row row-center" ng-if="payment.DESCRIPTION.length > 0">
              <div class="col col-center text-left">{{payment.DESCRIPTION}}</div>
              </div>

              
            </li>

					</ul>

          <ion-infinite-scroll ng-if="listlength<=paymentService.payments.length" 
                on-infinite="loadMore()" distance="3%">
          </ion-infinite-scroll>
        </div>
        </ion-content>
      </ion-view>