
.animated.bar.bar-header.item-input-inset {
    border: medium none;
    margin-top: -5px;
}
.title-bar {
    font-size: 1em;
    height: 28px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 3px;
}
.bar .title {
    font-size: 14px;
}
.searchBox {
    padding: 0px 2px !important;
}
.row-bordered {
	border-bottom: 1px solid #b2cfff;
    margin-bottom: 8px;
}

.text-right {
	text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}


.login-content button {
    width: 75% !important;
    display: block;
    border-radius: 6px;
    margin:0px auto;
}
ion-view[view-title="Login"] {
     /*background: rgba(0, 0, 0, 0) url("../images/login-bg.png") repeat-x scroll center bottom / 100% 45%;*/
 /*   bottom: 0;
    left: 0;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: -100;*/
}

ion-view[view-title="Login"] ion-content:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background: url("../images/login-bg.png") repeat-x scroll center bottom / 100% 100%;
    width: 100%;
    height: 250px;
     z-index: -100;
    /*height: 35%;*/
}



.login-form .item-input {
    padding: 6px 5px 0px 6px;
}
.login-form input {
    border-bottom: 1px solid #cecece;
}

.login-form input:focus {
    border-bottom: 2px solid #387EF5;
}

.account-form .item.styled {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    display: block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.compact {padding-top:0px; padding-bottom:0px;}

.sync-info {font-size: 0.8em;}
.sync-info.italic {font-style: italic;}